<%= link_to @link, class: "system-moment" do %>
  <div class="system-moment__info">
    <div class="system-moment__title"><%= @title %></div>
    <div class="system-moment__description"><%= @description %></div>
  </div>
  <div class="system-moment__date"><%= @date %></div>
<% end %>